<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Pink Mile - @ViewBag.Title</title>
    
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    </environment>
    @RenderSection("styles", false)
    
    <environment names="Development">
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    </environment>
    @RenderSection("dependencies", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>
